server {
  listen 8080;
  server_name localhost;

  location /n8n/ {
    proxy_pass http://localhost:5678/;

    # Following directive resolves "Connection lost" problem:
    # https://community.n8n.io/t/connection-lost/1471/60
    proxy_buffering off; 
  }

  location / {
    proxy_pass http://localhost:3000/;
  }
}